.llabel{
  display: inline-block;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #212529;
    word-break: break-word;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
}